<% include header %>


<main role="main">
  <div class="container">
    <h3><a href="/api/posts">/api/posts</a></h3>
    <% posts.forEach(function(post){ %>
      <h3>
        <a href="/post/<%= post.id %>">
          <%= post.title %>
        </a>
      </h3>
      <div><%= post.content %></div>
    <% }); %>
  </main>
</div>


<% include footer %>